<html>
<head>
  <style>
    .content {
      height: 8000px;
      background: linear-gradient(rosybrown, royalblue);
    }
  </style>
</head>
<body>
  <div class="content">

  </div>
  <script src="/javascripts/jquery-3.0.0-alpha1/dist/jquery.js"></script>
  <script src="/bower_components/socket.io-client/socket.io.js"></script>
  <script src="/javascripts/app.js"></script>
</body>
</html>