<html>
<head>
  <style>
    .content {
      height: 8000px;
      background: linear-gradient(rosybrown, royalblue);
    }
  </style>
</head>
<body>
  <div class="content">

  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script src="/bower_components/socket.io-client/socket.io.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
</body>
</html>
